@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap ');
@import url('https://cdn-uicons.flaticon.com/2.5.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.5.0/uicons-brands/css/uicons-brands.css');

:root{
    --azul_claro: rgb(0, 172, 230);
    --amarelo_canário: rgb(255, 187, 0);
    --verde_limão: rgb(0, 202, 0);
    --preto: rgb(0, 0, 0);
    --branco: rgb(255, 255, 255);
    --vermelho: rgb(255, 0, 0);
}
#menu_topo{
    height: 90px;
    background-color: var(--azul_claro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;

}
body{
    margin: 0px;
    font-family:'Marhey';
    background-image: url(imagem/nuvem.png);
}
#caixa_menus{
    display: flex;
    color: var(--branco);
    
    
}
.item_menu{
    margin-right: 30px;
    /* background-color: var(--vermelho); */
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 40px 0px 40px 40px;
    height: 90px;

    
}
.item_menu:hover{
    background-color: var(--amarelo_canário);
    
}
.menu_ativado{
    background-color: var(--vermelho);
}

#banner{
    width: 100%;
    height: 40vw;
    background-image: url(imagem/criancas.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
#mens{
    background-color: rgb(0, 172, 230, 0.6); /*cor de fundo*/
    color: var(--branco); /*cor*/
    width: 800px; /*largura*/
    height: 400px; /*altura*/
    text-align: center;
    padding: 43px;
    border-radius: 70px 20px 70px 20px;            

}

#mens h1{
    font-size: 70px;
    line-height: 70px;
    text-shadow: 0 0 10px cyan,
                0 0 20px cyan,
                0 0 40px cyan,
                0 0 80px cyan; 
                

}
#mens p{
    font-size: 30px;
    line-height: 27px;
}

#conteiner{
    text-align: center;
}

#sc_01, #sc_02{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 80px;

  

}
#criancas_01{
    background-image: url(imagem/criancas2.jpg);
    width: 450px;
    height: 350px;
    background-size: cover;
    border-radius: 40px 10px 40px 10px;    

}
#conteudo_01{
    width: 700px;
    text-align: left;
    padding-left: 50px;

}

#conteudo_01 h1{
    font-size: 40px;
    background: linear-gradient(90deg, #4a03ff,#d009e7);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
/**/
#criancas_02{
    width: 60%;
    height: 350px;
    background-image: url(imagem/criancas3.jpg);
    background-size: cover;
    border-radius: 40px 0px 0px 40px;    

}
#conteudo_02{
    background-color: var(--verde_limão);
    width: 40%;
    border-radius: 0px 40px 40px 0px;  
    color: var(--branco);
    text-align: left;
}

#conteudo_02 h1{
    background: linear-gradient(90deg, #3808f7,#eb04bd);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;


    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;

}
#conteudo_02 p{
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

#rp{
    background-color: var(--azul_claro);
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    margin-top: 50px;
    flex-wrap: wrap;/*quebra linha e vai para baixo*/
    padding-bottom: 50px;
}

.crp{
    width: 33%;
    height: 500px;
    color: var(--branco);
    text-align: left;

}
.icones{
    font-size: 40px;
    margin-right: 10px;
}
#cl3 img{
    width: 400px;
}
#cl2 i{
    margin-left: 60px;
}
#cl1 h1{
    margin-top: -17px;
    background: linear-gradient(90deg, #3808f7,#eb04bd);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#copyight{
    min-width: 100%;
    color: var(--branco);


}
#copyight a{
    color: var(--branco);
    text-shadow: 0 0 10px cyan,
    0 0 20px cyan,
    0 0 40px cyan,
    0 0 80px cyan; 
    text-decoration: none;
}

#menu_mt{
    background-color: red;
    height: 70px;
    display: none;
    align-items: center;
    justify-content: left;
    padding-left: 30px;
    font-size: 30px;
    color: var(--branco);
}

/*celular*/
@media screen and (max-width: 480px){
    #menu_mt{
        display: flex;
    }
    #menu_topo{
        display: none;
    }
}
/*tablet*/
@media screen and (min-width:481px) and (max-width: 1024px) {
    #menu_mt{
        display: flex;
    }
}